{% load  static %}
{% load socialaccount %}
{% providers_media_js %}
<!-- head para PC -->





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%  static 'assets/css/login.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{%  static 'assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{%  static 'assets/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{%  static 'assets/css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/price_rangs.css' %}">
            <link rel="stylesheet" href="{%  static 'assets/css/slicknav.css' %}">
            <link rel="stylesheet" href="{%  static 'assets/css/animate.min.css'%}">
            <link rel="stylesheet" href="{%  static 'assets/css/magnific-popup.css'%}">
            <link rel="stylesheet" href="{%  static 'assets/css/fontawesome-all.min.css'%}">
            <link rel="stylesheet" href="{%  static 'assets/css/themify-icons.css'%}">
            <link rel="stylesheet" href="{%  static 'assets/css/slick.css'%}">
            <link rel="stylesheet" href="{%  static 'assets/css/nice-select.css'%}">
            <link rel="stylesheet" href="{%  static 'assets/css/style.css'%}">
    <title>Login</title>
</head>
<body>
{% block content %}
<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://i.ibb.co/Tq3JFH0/Logo.png"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">We are The Gong Team</h4>
                </div>

                <form method="POST">{% csrf_token %}
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">

                  </div>

                  <div class="form-outline mb-4">

                      {{ form }}
                  </div>



                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn" type="submit">Log
                      in</button>
                </form>
                  <br>
                  <br>
                  <br>
                      <a class="btn" href="{% provider_login_url "google" %}" style="background-color:grey">Google</a> <br>
                    <a class="text-muted" href="#!">Forgot password?</a>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                   <a class="text-muted" href="{% url 'users_app:user-register' %}"> <button type="button" class="btn btn-outline-danger">Create new</button></a>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center danger"style="background-color:#E9E8E8">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Inicia sesión y busca entre miles de ofertas.</h4>
                <p class="small mb-0">Ingresa tus datos para iniciar sesión.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


    {% endblock content %}

</body>
</html>